html,
body {
  width: 100vw;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $base-text-font-family;
  font-size: $base-text-font-size;
  color: $base-text-font-color;
  background-color: $base-background-color;
  line-height: 1.65;
}
