/*

Le reset CSS consiste à réinitialiser à 0 la valeur de certains éléments HTML
afin d'éviter une partie des différences d'affichage sur les divers navigateurs.

*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $base-title-font-family !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    color: inherit;
  }
}
