@import "./../../assets/main.scss";

.searchPage {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
    padding: 30px 0 0 0;
    border-bottom: 1px solid lightgray;

    @include respond-to("min-md") {
      flex-direction: row;
      justify-content: flex-start;
      padding: 20px 30px 0 30px;
    }

    /* SearchPage Image (Google logo) */
    &-logo {
      object-fit: contain;
      height: 30px;
      transform: translateY(25%);

      @include respond-to("min-md") {
        margin-right: 50px;
      }
    }

    &-body {
      @include respond-to("min-md") {
        width: 690px;
      }

      & > .searchBar > .searchBar__input {
        margin-top: 0;
        width: unset;
        margin: unset;
        max-width: unset;
      }
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;

    /* SearchPage Options <a> link */
    a {
      text-decoration: none;
      color: gray;
      display: contents;
    }
    /* SearchPage Options Left and Right */
    &-left,
    &-right {
      display: flex;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    margin: 11px 1px 0;
    padding: 16px 12px 12px 10px;
    font-size: 13px;

    * {
      vertical-align: middle;
    }

    /* SearchPage Option Item if active */
    &.active {
      border-bottom: 2px solid lightgray;
    }

    /* SearchPage Option Item link and icon */
    a,
    .MuiSvgIcon-root {
      height: 16px;
    }
    /* SearchPage Option Item link */
    a {
      margin-left: 5px;
    }
  }

  &__results {
    padding: 0 20px;
    padding-top: 20px;
    margin-bottom: 100px;

    @include respond-to("min-md") {
      margin: 0 auto;
      width: 860px;
    }
    @include respond-to("min-lg") {
      width: 40vw;
      margin-left: 180px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__result-count span {
    margin-right: 5px;
  }

  & .footer {
    position: relative;
  }
}
