.searchError {
  display: flex;
  height: 100vh;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 40px;
    font-weight: 500;
    color: lightgrey;
  }

  h3 {
    * {
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      margin-right: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
