/*----------------------------*\
  POINTS DE RUPTURES
\*----------------------------*/
$tiny-break: 320px;
$small-break: 768px; // < Smartphone
$medium-break: 992px; // < Tablette | >= Ordinateur
$large-break: 1200px; // >= Ordinateur

$breakpoints: (
  "min-xs": (
    min-width: $tiny-break,
  ),
  "max-xs": (
    max-width: $tiny-break - 1,
  ),
  "min-sm": (
    min-width: $small-break,
  ),
  "max-sm": (
    max-width: $small-break - 1,
  ),
  "min-md": (
    min-width: $medium-break,
  ),
  "max-md": (
    max-width: $medium-break - 1,
  ),
  "min-lg": (
    min-width: $large-break,
  ),
  "max-lg": (
    max-width: $large-break - 1,
  ),
);

/*----------------------------*\
  COLORS
\*----------------------------*/
$colors: (
  black: #0f0f0f,
  white: #ffffff,
  gray-ligth: #ebeef3,
  gray: #636e72,
  gray-dark: #2d3436,
  red: #fc5c65,
  blue: #45aaf2,
  green: #20bf6b,
  yellow: #fd9644,
  purple: #a55eea,
  midnight: #2c3e50,
);

/*----------------------------*\
  FONTS
\*----------------------------*/
$base-text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-text-font-size: 18px;
$base-text-font-color: map-get($colors, midnight);
$base-text-font-color-ligth: lighten(map-get($colors, midnight), 20%);
$base-title-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-background-color: map-get($colors, gray-white);

/*----------------------------*\
  MENU
\*----------------------------*/
$menu-brand-font-family: $base-title-font-family;
$menu-nav-font-family: $base-text-font-family;
$menu-font-size: 14px;
$menu-font-color: map-get($colors, white);
/*--- Banner ---*/
$menu-banner-background-color: map-get($colors, white);
$menu-banner-font-color: map-get($colors, midnight);
/*--- Sidebar ---*/
$menu-sidebar-tiny-width: 60vw;
$menu-sidebar-small-width: 75vw;
$menu-sidebar-large-width: 90vw;
$menu-sidebar-background-color: map-get($colors, white);
$menu-sidebar-font-color: map-get($colors, midnight);
