.searchItem__result {
  padding: 40px 0;
  border-bottom: 1px solid lightgray;

  &:last-child {
    border-bottom: none;
  }

  /* SearchPage Result url */
  * {
    vertical-align: middle;
  }

  /* SearchPage Result count */
  &-count {
    color: lightgray;
    font-size: 14px;
  }

  /* SearchPage Result Title */
  &-title {
    text-decoration: none;

    /* SearchPage Result Title on Hover */
    &:hover {
      text-decoration: none;
    }
    /* SearchPage Result Title <h2> */
    & > h2 {
      font-weight: 500;
    }
  }

  /* SearchPage Result Snippet */
  &-snippet {
    margin-top: 10px;
  }

  /* SearchPage Result  */
  &-image {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}
