@import "./../../assets/main.scss";

.searchBar {
  /* Search__Input */
  &__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 10px 20px;
    padding: 5px 8px 5px 16px;
    border-radius: 999px;
    height: 44px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 482px;

    &:hover {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border: none;
    }

    @include respond-to("min-sm") {
      width: 90vw;
    }

    /* Search__Input > Input */
    & > input {
      flex: 1;
      padding: 5px 10px;
      font-size: medium;
      border: none;

      /* Search__Input > Input on Focus */
      &:focus {
        outline-width: 0;
      }
    }

    /* Search__Input-icon */
    &-icon {
      &.MuiSvgIcon-root {
        min-width: 0 !important;
        color: gray !important;
      }

      &Search {
        width: 0.8em !important;
        height: 0.8em !important;
      }

      &Clear {
        padding-right: 12px !important;
        border-right: 1px solid lightgray !important;
        border-radius: 0 !important;
      }

      &Mic {
        color: #4285f4 !important;
      }
    }
  }

  /* Search__InputButtons */
  &__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    /* Search__InputButtons button*/
    button {
      margin: 5px;
      padding: 7px 15px;
      background-color: #f8f8f8;
      border: 1px solid white;
      text-transform: inherit;
      color: #5f6368;

      /* Search__InputButtons button on Hover */
      &:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1f1);
        background-color: #f8f8f8;
        border: 1px solid #c6c6c6;
        color: #222;
      }
    }

    &-hidden {
      display: none !important;
    }
  }
}
