@import "./../../assets/main.scss";

.footer {
  background-color: rgb(230, 230, 230);
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;

  &__top,
  &__bottom {
    padding: 5px 30px;
    border-top: 1px solid lightgray;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to("min-sm") {
      flex-direction: row;
    }

    &-left,
    &-right {
      a {
        display: block;

        @include respond-to("min-sm") {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
  }
}
