.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* Home - Header */
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;

    /* Home - a (link) */
    & a {
      margin-right: 20px;
      text-decoration: inherit;
      color: rgba(0, 0, 0, 0.87);
      font-size: 15px;

      /* Home - a (link) on Hover*/
      &:hover {
        text-decoration: underline;
      }
    }

    /* Home - Header Right*/
    &-right {
      display: flex;
      align-items: center;
      min-width: 13vw;
      justify-content: space-between;

      & > .MuiSvgIcon-root {
        margin-right: 20px;
      }
    }
  }

  /* Home - Body */
  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;

    /* Home - Image (Google logo) */
    img {
      object-fit: contain;
      height: 100px;
    }
  }
}
